# =========================== #
# build                       #
# =========================== #
[Bu]uild

# =========================== #
# xcode                       #
# =========================== #
*.xcworkspace
xcuserdata

# =========================== #
# OS generated                #
# =========================== #
.DS_Store

# =========================== #
# Cocoapod                    #
# =========================== #
Pods
Podfile.lock
